<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Note SunLeave</title>

    <script>
        function disp(form) {
            if (form.style.display == "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }
    </script>
</head>
<body>
<h2>Начало положено</h2>
<!--<a th:href="@{/note/new}">-->
<button type="button" class="btn btn-primary btn-lg btn-block"  onclick="disp(document.getElementById('form1'))" >
    New note
</button>
<!--</a>-->
<button type="button" class="btn btn-primary btn-lg btn-block" onclick="disp(document.getElementById('exit'))">
    Open exist note
</button>
<!--<div th:replace="note/form.html :: formNote(entity = ${note})">-->
<div th:replace="note/form.html :: formNote(entity = ${note})">


</div>
<div id="exit" style="display: none;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date Create</th>
                <th scope="col">Date Update</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            <th:block th:each="notes : ${nodeList}">
                <tr>
                    <td th:text="${notes.getName()}"></td>
                    <td th:text="${notes.dateCreate}"></td>
                    <td th:text="${notes.dateUpdate}"></td>
                    <td th:with="baseUrl=('/note/'+${notes.id})">
                        <a class="btn btn-outline-success" th:href="@{${baseUrl}}">View</a>
<!--                        <a class="btn btn-outline-warning" th:href="@{${baseUrl}+'/edit'}">Edit</a>-->
                        <a class="btn btn-outline-danger" th:href="@{${baseUrl}+'/delete'}">Delete</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
<!--    <th:block th:each="curNote : ${nodeList}">-->
<!--        <div>-->
<!--            <h4 th:text="${curNote.name}"></h4>-->
<!--            <span th:text="${curNote.message}"></span>-->
<!--        </div>-->
<!--    </th:block>-->
</div>
</body>
</html>